<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile | Smart Campus Security</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    </head>

    <body>
        <div class="profile-card">
            <!-- Dynamic Letter Avatar -->
            <div class="avatar avatar-{{ username[0]|lower }}">
                {{ username[0]|upper }}
            </div>

            <h2>User Profile</h2>

            <div class="info">
                <strong>Username:</strong> {{ username }}
            </div>

            <div class="info">
                <strong>Email:</strong> {{ email }}
            </div>

            <div class="info">
                <strong>Role:</strong>
                {% if role == 'admin' %}
                <span class="role-admin">Admin</span>
                {% else %}
                <span class="role-user">User</span>
                {% endif %}
            </div>

            {% if role == 'admin' %}
            <a class="btn dashboard-btn" href="/admin">Back Dashboard</a>
            {% else %}
            <a class="btn dashboard-btn" href="/user">Back Dashboard</a>
            {% endif %}

            <br>

            <a class="btn logout-btn" href="/logout">Logout</a>
        </div>
    </body>
</html>