<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Security Report | Smart Campus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    </head>
    <body>
        <header>
            <h1>Smart Campus Security - Report</h1>

            <nav>
                <a href="{{ url_for('user_dashboard') }}">Dashboard</a>
                <a href="{{ url_for('user_report') }}">Scan Report</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </header>
        
        <main>

            <h2>Network Scan Report</h2>

            <form method="GET" action="{{ url_for('user_report') }}">
                <button class="scan-btn">Run Scan</button>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Report ID</th>
                        <th>Device Name</th>
                        <th>Asset IP</th>
                        <th>Date</th>
                        <th>Open Port</th>
                        <th>Service</th>
                        <th>Risk Level</th>
                    </tr>
                </thead>

                <tbody>

                    {% for report in reports %}

                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.device_name }}</td>
                        <td>{{ report.ip }}</td>
                        <td>{{ report.date }}</td>
                        <td>{{ report.port }}</td>
                        <td>{{ report.service }}</td>

                        <td class="
                            {% if report.risk == 'High' %}high
                            {% elif report.risk == 'Medium' %}medium
                            {% else %}low
                            {% endif %}
                        ">
                            {{ report.risk }}
                        </td>
                    </tr>

                    {% else %}

                    <tr>
                        <td colspan="7" style="text-align:center;">
                            No scan data available. Run a scan.
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </main>
    </body>
</html>